{
  "swagger": "2.0",
  "info": {
    "description": "This is interface for chatroom",
    "version": "1.0.0",
    "title": "Chatroom",
    "contact": {
      "email": "1451830100@qq.com"
    }
  },
  "host": "chatroom.gyyin.top",
  "basePath": "/api",
  "tags": [
    {
      "name": "user",
      "description": "Everything about your Pets",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "group",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/user/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "user register",
        "description": "",
        "operationId": "addUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "username": "body",
            "description": "User object that needs to be added to the DB",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          }
        }
      }
    },
    "/api/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "user login",
        "description": "user login",
        "operationId": "userLogin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "username": "body",
            "description": "user login and set cookie",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/group/create": {
      "post": {
        "tags": [
          "group"
        ],
        "summary": "group create",
        "description": "group create",
        "operationId": "groupCreate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "create chatroom",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/api/group/enter": {
      "post": {
        "tags": [
          "group"
        ],
        "summary": "group enter",
        "description": "group enter",
        "operationId": "groupEnter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "ii": "body",
            "name": "body",
            "description": "enter chatroom",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/EnterResponse"
            }
          }
        }
      }
    },
    "/api/group/list": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "group list",
        "description": "group list",
        "operationId": "groupList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "enter chatroom",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/ListResponse"
            }
          }
        }
      }
    },
    "/api/group/message": {
      "post": {
        "tags": [
          "group"
        ],
        "summary": "group message",
        "description": "group message",
        "operationId": "groupMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "group message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RegisterRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "CreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "CreateResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "number"
        },
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number"
            }
          }
        },
        "message": {
          "type": "string"
        }
      }
    },
    "EnterRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "EnterResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "number"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ListRequest": {
      "type": "object",
      "properties": {
      }
    },
    "ListResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "number"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "description": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "create_time": {
                "type": "number"
              },
              "update_time": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "MessageRequest": {
      "type": "object",
      "properties": {
        "group_id": {
          "type": "number"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "number"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "content": {
                "type": "string"
              },
              "from": {
                "type": "string"
              },
              "create_time": {
                "type": "number"
              },
              "group_id": {
                "type": "number"
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}